// --- FLEX ---

.flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.fd-columns {
    flex-direction: column;
}

.fw-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

// --- DIM ---

.std-width {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.p-2 {
    padding: 2rem;
}

.p-1 {
    padding: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

// --- COLOR ---

.bg-orange {
    background-color: orange;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: #2b2b2b;
}

.c-white {
    color: white;
}

// --- TEXT ---

.ta-center {
    text-align: center;
}

.upperCase {
    text-transform: uppercase;
}

.w-wrap {
    word-wrap: break-word;
}