// --- FLEX ---

.flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.fd-columns {
    flex-direction: column;
}

.fw-wrap {
    flex-wrap: wrap;
}

// --- DIM ---

.std-width {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.p-2 {
    padding: 2rem;
}

.p-1 {
    padding: 1rem;
}

// --- COLOR ---

.bg-orange {
    background-color: orange;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: #2b2b2b;
}